return No Data Available for serial queries

We currently slightly violate [RFC 6810, Section 6.4](http://tools.ietf.org/html/rfc6810#section-6.4) by sending a Cache Reset instead of a No Data Available in response to a serial query when we don't have data yet. This should work fine and isn't a problem operationally, but we should probably match the RFC.

Reported by: dseomn

Original Ticket: [rpstir/tickets/4](https://sourceforge.net/p/rpstir/tickets/4)
