RPSTIR doesn't reject different certs by the same CA with the same serial number

According to [RFC 6487 section 4.2](https://tools.ietf.org/html/rfc6487#section-4.2) each certificate issued by a CA has a unique serial number (though the magic word "MUST" is not present).  RPSTIR doesn't seem to care if multiple certs by the same CA have the same serial number.